<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>About Us</h1>
    <p>This project is developed by:</p>
    <ul>
      <li><b>Hadia Waheed</b> Thal University vulnerabilities , model training methods + integration </li>
      <li><b>Fareeha Adrees</b> – Dummy website attck , website integration</li>
      <li><b>Aasma Rubab</b> – university of Sargodha vulnerabilities ,Data Preprocessing</li>
  
    </ul>
    <p>We aim to build a secure web for everyone. 💻🔐</p>
  </div>
</body>
</html>
